<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Internet Products{% endblock %}</title>
</head>
<body>
    <header>
        <h1>{% block header %}Internet Products{% endblock %}</h1>
        <nav>
            <ul>
                <li><a href="/login/login/">Логин</a></li>
                <li><a href="/accounts/signup/">Регистрация</a></li>
                <!-- в файле car_list.html <>--><li>

                <li><a href="{% url 'product_list' %}">Список продуктов</a></li>


                <li><a href="/admin/">Админка</a></li>
                <!-- Добавьте другие пункты меню по мере необходимости -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Internet Products. All rights reserved.</p>
    </footer>
</body>
</html>