<!DOCTYPE html>
<html>
<head>
  <title>Форма ввода email</title>
</head>
<body>
  <h1>Введите ваш email адрес</h1>
  <h2>Введите ваш адрес электронной почты, и мы отправим вам код подтвержления</h2>
  <form action="{% url 'enter_email' %}" method="post">
    {% csrf_token %}
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br><br>
    <input type="submit" onclick="http://127.0.0.1:8000/internet_shop/enter_code" value="Отправить">
  </form>
</body>
</html>