<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Правила для пользователей на сайте</title>
</head>
<body>
    <h1>Правила для пользователей на сайте</h1><br>
    <p>
        На нашем сайте нельзя писать запрещенные вещи, вроде матов или запретных молитв.<br>
        В случае нарушения вы будете не допущенны к дальнейшему использованию сайта,<br>
        а также с вас будет административный штраф за хулиганство в размере от <br>
        10 млн до 15 млн долларов!!!<br><br>
        <strong>
            Поэтому большая просьба, ведите себя вежливо и не материтесь!<br>
            Также не занимаетесь мошеничеством и не воруйте у других деньги!<br>
            Всех хороших покупок и удачи!!!<br>
        </strong>
    </p>
</body>
</html>